{% extends '@App/layout.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Feedback for {{ name }}!</h1>
    </div>
{% endblock %}
